body {
    background-color: rgb(5, 5, 5);
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-style: normal;
    color: rgb(38, 243, 38);
}

a {
    font-size: large;
    color: rgb(38, 243, 38)    ;
}